@font-face{
font-family: 'Fregat_regular';
src: url('../fonts/Fregat_regular.otf');
}
@font-face{
font-family: 'Fregat_bold';
src: url('../fonts/Fregat_bold.otf');
}
body div {
    font-family: 'Fregat_regular';
}
.header {
    height: 80px;
    width: 100%;
}
.nav li{
    font-size: 85%;
    float: left;
    color: #373737;
    font-family: 'Fregat_regular';
}
.nav li > a{
    text-decoration: none;
    color: #373737;
}
.nav li:first-child {
    list-style: none;
}
.nav {
    float: right;
    margin-right: 0px;
    margin-top: 40px;
    padding-left: 0px;
}
.logo {
    float: left;
    font-size: 42px;
    margin-top: 25px;
    font-weight: bold;
     color: #373737;
     font-family: 'Fregat_bold';
}
section {
    min-height: 100%;
}
.hero{
    display: inline-block;
   padding-top: 100px;
   padding-bottom: 85px;
    width: 100%;
    clear: both;
    background-image: url(../image/bg.jpg);
    background-repeat: no-repeat;
     box-sizing: border-box;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
    
}
.hero_text{
    color: #4baf28;
      margin: 0 auto;
      font-size: 110%;
       line-height: 40px;
}
.hero_text h1 {
   padding-right: 120px;  
}
.hero_text_p{
   
    color: #4e4e4e;
    margin-top: 45px;
    font-size: 105%;
    line-height: 25px;
    width: 100%;
}

.hero_button {
     margin: 0 auto;
    margin-top:80px;

   
}
.hero_button_write{
   
    background-color:#62b946;
    height: 50px;
    border-radius:5px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase; 
    font-size: 90%;
    float: left;
    cursor: pointer;
    margin: 0px auto;
    margin-bottom: 10px;

}
.hero_button_more {
    margin: 0px auto;
   border: 3px solid #62b946;
    height: 50px;
    border-radius:5px;
    color: #62b946;;
    text-align: center;
    padding-top: 14px;
    text-transform: uppercase; 
    font-size: 90%;
    float: right;
    cursor: pointer;
}
.hero_position{
    float: left;
    margin: 0 auto;
}
.about {
width: 100%;
display: inline-block;
background-color: #62b946;
padding: 30px 0px;

}
.about_program {
    float: left;
 margin-top: 50px;
    color: #fff; 
    text-transform: uppercase; 
    font-size: 120%;
     font-family: 'Fregat_bold';
}
.about_program_who {
    float: right;
    color: #fff;
}
.about_program_who ul li{
 list-style: none;
 line-height: 22px;
 font-size: 100%;
}
.what {
    display: inline-block;
    margin: 65px 0px 0px 0px;
}
.what_title {
    margin: 0px auto;
    color: #62b946;
 text-transform: uppercase; 
 font-size: 150%;
 text-align: center;
 font-family: 'Fregat_bold';
}
.what_disc p {
    margin: 0 auto;
    float: none;
    font-size: 110%;
    color: #323232;
    text-align: center;
    line-height: 25px;
}
.gallery .item {
  overflow: hidden;
  text-align: center;
  background-image: url(img/bgd.jpg);
  background-color: none;
}
.gallery {
    margin: 0px auto;
}
.item img {
    float:  none;
}
.item {
    position: relative;
    display: inline-block;
    margin: 0px;
}
.gallery .control-button {
    display: inline-block;
    margin: 40px 5px;
    font-size: 5em;
    text-align: center;
    text-decoration: none;
    transition: color .1s;
}
.arrow_left {
    float: left;
    margin-top:200px;
    cursor: pointer;
}
.arrow_right {
    cursor: pointer;
    float: right;
    margin-top: 200px;
}
.what_list {
float: none;
margin: 10px auto;
}
.what_list_first {
    float: left;
}
.what_list_second {
      float: right;
}
.what_list_first li, .what_list_second li {
    margin-bottom: 20px;
    color: #6f716c;
    text-align: center;
    font-size: 100%;
}
.what_program {
    float: none;
    clear: both;
    margin: 0px auto;
    text-align: center;
    color: #6f716c;
    line-height: 20px;
    margin-bottom: 30px;
}
.what_program p{
    margin: 0;
    padding: 0;
    font-size: 100%;
}
.what_image {
    float: none;
    margin-top: 20px;
}
.call {
    width: 100%;
    display: inline-block;
    padding: 40px 0px;
    background-color: #ddffcc;
}
.call_title {
    float: none;
margin: 0px auto;
color: #6f716c;
 text-transform: uppercase; 
 font-size: 120%;
text-align: center;
 font-family: 'Fregat_bold';
}
.call_disc {
    float: none;
    width: 100%;
    margin: 20px auto;
    color: #6f716c;
    text-align: center;
    font-size: 110%;
}
.call_cities{
   float: none;
    margin: 20px auto;
    color: #656565;
    padding-bottom: 70px;
}
.call_city {
    float: left;
    text-align: center;
    font-size: 120%;
}
.call_city p{
font-size: 90%;
    padding: 5px;
    margin: 0;
}
.call_city p:first-child {
    font-size: 120%;
}
.call_button {
    float: none;
    clear: both;
    margin: 0px auto;
    border: 2px solid #6f716c;
    padding-top: 5px;
    color: #6f716c;
    text-align: center;
    font-size: 110%;
    cursor: pointer;
    height: 40px;
     text-transform: uppercase; 
     border-radius: 5px;
}
.info {
    width: 100%;
    padding: 80px  0px;
    display: inline-block;
    background-image: url(../image/img_2.jpg);
}

.info_title{
    margin: 0px auto;
    color: #4eb029;
 text-transform: uppercase; 
 font-size: 180%;
float: none;
 text-align: center;
 font-family: 'Fregat_bold';
}
.info_disc{
   float: none;
    margin: 20px auto;
    color: #fff;
    text-align: center;  
}
.info_disc p:first-child {
    font-size: 130%; 
}
.info_disc p:nth-child(2){
    font-size: 100%;
}
.info_icons {
    float: none;
    margin: 0px auto;
    padding-top: 60px;
}
.info_icon {
    margin-left: 30px;
}
.icon {
    position: relative;
    margin: 0 auto;
}
.icon_img {
position: absolute;
top: 50px;
left: 50px;
margin: 0 auto;

}
.icon_img_food {
    left: 60px;
}

.icon_img  p:first-child {
    color: #4eb029;
    font-size: 300%;
     font-family: 'Fregat_bold';
     text-align: center;
     padding: 0;
     margin-top: 0;
     margin-bottom: 10px;
}
.icon_img p:nth-child(2) {
    color: #4eb029;
text-align: center;
font-size: 100%;
padding: 0;
margin: 0;
}
.icon_text_under{
    color: #4eb029;
    font-size: 130%;
   margin: 30px 0px;
   width: 100%;
    text-align: center;
}
.icon_text_under p {
    padding: 0;
    margin: 0;
}
.info_next_text {
    padding-top: 40px;
    clear: both;
    float: none;
    margin: 0 auto;
}
.info_next_text h2 {
    color: #4eb029;
text-transform: uppercase;
font-size: 130%;
 float: none;
  text-align: center;
}
.info_next_text span {
    font-size: 210%;
     float: none;
      text-align: center;
}
.info_next_text h3 {
    text-transform: uppercase;
    font-weight: none;
    color: #fff;
    font-size: 100%;
    margin-top: 60px;
    text-align: center;
     float: none;
}
.info_next_text p {
    color: #fff;
    margin: 20px auto;
    text-align: center;
    line-height: 25px;
    font-size: 100%;
     float: none;
}
.benefit {
    width: 100%;
    display: inline-block;
    padding-top: 85px;
     padding-bottom: 70px;
}
.benefit_1234 {

    padding-top: 30px;
}
.benefit_1234_title{
    
   padding-bottom: 70px;
    margin: 0px auto;
    color: #4eb029;
 text-transform: uppercase; 
 font-size: 30px;
  width: 100%;
 text-align: center;
 font-family: 'Fregat_bold';
}
.benefit_text_left{
    float: left;
}
.benefit_text_right {
     float: right;
}
.benefit_align_right {
    float: right;
}
.benefit_image_left {
    float: right;
    margin-right: 0px;
}
.benefit_image_right {
     float: left;
     margin: 0;
}
.benefit_1234 {
    width: 90%;
    margin: 0 auto;
     display: inline-block;
}
.benefit_title p {
    color: #656565;
    font-size: 160%;
     position: absolute;
     margin-top: 90px;

}
.benefit_disc {
    font-size: 100%;
    margin: 0px auto;
    color: #6f716c;
    line-height: 20px;
}
.benefit_disc p:last-child {
    cursor: pointer;
}
.benefit_title {
    position: relative;
}
.benefit_text_left .benefit_title {
    margin-left: 150px;
}
.scheme {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 80px;
    display: inline-block;
    background-color:#cdffcc; 
}
.scheme_title {
    padding-bottom: 20px;
    margin: 0px auto;
    color: #4eb029;
 text-transform: uppercase; 
 font-size: 130%;
 text-align: center;
}
.scheme_disc {
    float: none;
    margin: 0 auto;
}
.scheme_disc_part {
    float: left; 
}
.scheme_line {
    clear: both;
}
.scheme_disc_bold {
    font-weight: bold;
    color: #656565;
    font-size: 120%;
   
    margin: 0;
}
.scheme_disc_part p:nth-child(2) {
    color: #656565;
    margin-top: 0px;
    padding: 0px;
    font-size: 100%;
}
.scheme_circle {
border: 2px solid #4eb029;
border-radius: 60%;
width: 13.5%;
color: #4eb029;
font-size: 120%;
padding: 10px 15px;
text-align: center;
font-family: 'Fregat_bold';
float: left;
margin: 0 0;
}
.scheme_line {
margin: 0 auto;
float: none;
padding-top: 30px;

}
.line {
  overflow: hidden;
  left: 0;
  right: 0;
  margin: 0 0;
  padding: 0 0;
  float: left;

}
.line:before,
.line:after {
  content: '';
  float: left;
  vertical-align: middle;
  box-sizing: border-box;
  width: 43.2%;
  height: 3px;
  background:  #4eb029;
  border: solid  #4eb029;
  border-width: 0 10px;
 
}
.line:before {
  margin-left: 0px;
  margin-top: 25px;
}
.line:after {
 margin-top: 25px;
  margin-right: 0px;
}

.why {
    display: inline-block;
    padding: 65px 0px;
}
.why_title {
    color: #62b946;
 text-transform: uppercase; 
 font-size: 125%;
 text-align: center;

}
.why_paragraphs {
    float: none;
    margin: 0 auto;
}
.why_paragraph_img {
    float: left;
    
}
.why_paragraph_count img{
   
    margin-top: 20px;
   
}
.why_paragraph_disc {
    float: right;
   
    margin: 30px auto;
}
.why_paragraph_disc_bolt {
    line-height: 25px;
    font-size: 120%;
    color: #a1a1a1;
    
}
.why_paragraph_count {
    margin-bottom: 60px;
    
}
.why_paragraph_disc p:last-child {
    color: #a1a1a1;
    font-size: 100%;
    line-height: 25px;
}
.callback {
    width: 100%;
    display: inline-block;
    padding: 50px 0px;
    background-color: #cdffcc;
    margin: 0;
}
.callback_title {
     margin: 0px auto;
    color: #4cb127;;
 text-transform: uppercase; 
 font-size: 140%;
 text-align: center;
 margin-bottom: 60px;
}
.callback_cities {
margin: 0 auto;
color: #656565;
float:  none;
}
.callback_city {
    float: left;
    text-align: center;
    font-size: 100%;
}
.callback_city p:first-child{
    font-size: 125%;
}
.callback_preform {
    float: none;
    clear: both;
    color: #a1a1a1;
    text-align: center;
    padding: 25px;
    font-size: 100%;
}
.callback_form {
    float: none;
    margin: 20px auto;
}
.callback_form_section {
    float: left;
    margin-bottom: 80px;
     font-size: 100%;
}
input[type="text"], .callback_select {
   border: 1px solid #cccccc; 
   background: #ffffff !important; 
   outline: none; 
   height: 50px; 
   width: 90%; 
   color: #656565;
   padding-left: 10px; 
   font-size: 100%;
}
.callback_select {
     height: 55px; 
}
.callback_form_section p{
    color: #323232;
}

.callback_button {
    float: none;
    background-color:#62b946;
    height: 50px;
   font-size: 100%;
    padding-top:15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase; 
    font-size: 16px;
    cursor: pointer;
    clear: both;
    margin: 0px auto;
}
.footer {
    min-height: 55px;
    background-color: #323232;
    padding-top:30px;
    margin: 0;
    width: 100%;
   
}
.footer_copyright{
     color: #fff;
    font-size: 80%;
    margin-left: 70px;
   
}
/*@media screen and (max-width: 1400px){
    .hero_button {
        margin-top: 50px;
    }

}*/
@media screen and (max-width: 1300px){
     .info_icon {
    margin-left: 0px;
}
}
@media screen and (max-width: 980px){
    .hero{
   padding-top: 10px;
   padding-bottom: 10px;
    background-repeat: repeat; 
}
.hero_text h1 {
   padding-right: 10px;  
}
.hero_text_p{
    margin-top: 10px;
}
.about {
padding: 0px 0px;

}
.about_program {
 margin-top: 10px;

}
.arrow_left, .arrow_right {
    display: none;
}
.info_icon {
    margin-left: 50px;

}
.icon_text_under{
    width: 70%;
} 
  .benefit_image_left, .benefit_image_right  {
      float: none;
  }
  .scheme_line {
    display: none;
}
.why_paragraph_count{
    margin: 0 auto;
}
}
@media screen and (max-width: 1300px){
    .nav li {
        min-width: 100%;
        font-size: 18px;
        padding: 5px;
        list-style: none;
        border-bottom: 2px solid #373737; 
    }
    }
     
